@import "fonts.css";
@import "grid.css";
@import "reset.css";

:root {
    --bg-color: #F6F5F0;
    --text-color: #333333;
    --B0A27B-color: #B0A27B;
    --4F2C19-color: #4F2C19;
    --E2DFD5-color: #E2DFD5;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Vazirmatn";
    font-size: 1.6rem;
    line-height: 1.6rem;
    background-color: var(--bg-color);
}

a {
    text-decoration: none;
}

/* 

Header

*/
.header {}

/* 
=============================
         Header Top
=============================

*/
.header-top {
    display: flex;
    justify-content: space-between;
    padding: 4rem 0;
}

.nav-menu {
    display: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: all 250ms ease-in;
    -webkit-transition: all 250ms ease-in;
    -moz-transition: all 250ms ease-in;
    -ms-transition: all 250ms ease-in;
    -o-transition: all 250ms ease-in;
}

.nav-menu--open {}

.nav-menu__middle-line {
    width: 30px;
    height: 5px;
    background-color: #333333;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
    transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
}

.nav-menu__middle-line::before,
.nav-menu__middle-line::after {
    content: "";
    width: 30px;
    height: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #333333;
    position: absolute;
    transition: all 250ms ease-in;
    -webkit-transition: all 250ms ease-in;
    -moz-transition: all 250ms ease-in;
    -ms-transition: all 250ms ease-in;
    -o-transition: all 250ms ease-in;
}

.nav-menu__middle-line::before {
    top: -1rem;
}

.nav-menu__middle-line::after {
    top: 1rem;
}

.nav-menu--open .nav-menu__middle-line {
    background-color: transparent;
}

.nav-menu--open .nav-menu__middle-line::before {
    transform: translateY(1rem) rotate(45deg);
    -webkit-transform: translateY(1rem) rotate(45deg);
    -moz-transform: translateY(1rem) rotate(45deg);
    -ms-transform: translateY(1rem) rotate(45deg);
    -o-transform: translateY(1rem) rotate(45deg);
}

.nav-menu--open .nav-menu__middle-line::after {
    transform: translateY(-1rem) rotate(-45deg);
    -webkit-transform: translateY(-1rem) rotate(-45deg);
    -moz-transform: translateY(-1rem) rotate(-45deg);
    -ms-transform: translateY(-1rem) rotate(-45deg);
    -o-transform: translateY(-1rem) rotate(-45deg);
}

.header-right {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header__logo {}

.header-menu {
    display: flex;
    align-items: center;
    gap: 3rem;
    color: var(--text-color);
}

.header-menu__item {
    position: relative;
    transition: all 400ms ease-in;
    -webkit-transition: all 400ms ease-in;
    -moz-transition: all 400ms ease-in;
    -ms-transition: all 400ms ease-in;
    -o-transition: all 400ms ease-in;
}

.header-menu__item:nth-child(2) {
    position: relative;
}

.header-menu__item:nth-child(2)::before,
.header-menu__item:nth-child(2)::after {
    content: '';
    width: 1px;
    height: 18px;
    background-color: rgba(0, 0, 0, 0.11);
    position: absolute;
}

.header-menu__item:nth-child(2)::before {
    right: -1.5rem;
}

.header-menu__item:nth-child(2)::after {
    left: -1.5rem;
}

.header-menu__link {
    color: inherit;
}

.header-menu__link-icon {
    margin-right: 0.8rem;
}

.submenu-products {
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 20rem;
    color: var(--text-color);
    padding: 1rem 0;
    /* height: 0; */
    overflow: hidden;
    position: absolute;
    top: 3rem;
    opacity: 0;
    transition: opacity 200ms ease-in;
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    -ms-transition: opacity 200ms ease-in;
    -o-transition: opacity 200ms ease-in;

}

.submenu-products__item {
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.submenu-products__link {
    color: inherit;
}

.header-menu__item:hover .submenu-products {
    /* height: 20rem; */
    overflow: visible;
    opacity: 1;
    z-index: 3;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header__search {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 4.2rem;
    -webkit-border-radius: 4.2rem;
    -moz-border-radius: 4.2rem;
    -ms-border-radius: 4.2rem;
    -o-border-radius: 4.2rem;
    -webkit-border-radius: 4.2rem;
    border: 1px solid rgba(0, 0, 0, 0.11);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__profile {
    border: 1px solid rgba(0, 0, 0, 0.11);
    border-radius: 4.2rem;
    -webkit-border-radius: 4.2rem;
    -moz-border-radius: 4.2rem;
    -ms-border-radius: 4.2rem;
    -o-border-radius: 4.2rem;
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.header__profile-icon {}

.header__profile-txt {}

.header__shopping-cart {
    background-color: var(--B0A27B-color);
    border-radius: 4.2rem;
    -webkit-border-radius: 4.2rem;
    -moz-border-radius: 4.2rem;
    -ms-border-radius: 4.2rem;
    -o-border-radius: 4.2rem;
    color: #fff;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
}

.header__shopping-cart span:nth-child(3) {
    font-size: 1.2rem;
    line-height: 1.2rem;
}

.header__shopping-cart-payment-amount {
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    color: var(--B0A27B-color);
    font-size: 11px;
    line-height: 18px;
    font-weight: 900;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.17);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}

/* 
=============================
         Header Bottom
=============================

*/
.header-bottom {
    text-align: center;
    margin-bottom: 10rem;
    position: relative;
}

.header-bottom__title {
    font-size: 8.5rem;
    line-height: 8.5rem;
    color: #242424;
}

.header-bottom__title span {
    font-family: "Vazirmatn Bold";
    font-size: 8.5rem;
    line-height: 8.5rem;
    color: var(--4F2C19-color);
}

.header-bottom__subtitle {
    font-family: "Vazirmatn SemiBold";
    font-size: 2rem;
    line-height: 2rem;
    color: #242424;
    margin: 5rem 0 4rem 0;
}

.header-bottom__link {
    width: 18.9rem;
    background-color: var(--B0A27B-color);
    border-radius: 10rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
    color: #fff;
    font-family: "Vazirmatn Medium";
    font-size: 2rem;
    line-height: 2rem;
    padding: 1rem 2rem;
    display: block;
    margin: 0 auto 2rem auto;
}

.header-bottom__image {}

.statistics {
    width:100rem;
    background-color: var(--E2DFD5-color);
    border-radius: 10rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
    display: flex;
    justify-content: space-between;
    padding: 4rem 8rem;
    margin:0 auto;
    position: absolute;
    bottom: -10.2rem;
    left: 0;
    right: 0;
}

.statistics__item {}

.statistics__item span {
    font-size: 7.5rem;
    line-height: 7.5rem;
    color: var(--4F2C19-color);
    font-family: "Vazirmatn Bold";
}

.statistics__item p {
    font-family: "Vazirmatn Medium";
    font-size: 3rem;
    line-height: 3rem;
    color: #3D3D3D;
}
.header-bottom__icon{
    position: absolute;
    bottom:13rem;
    left:8.3rem;
    z-index: -1;
}
/* 

Main

*/
/* 
=============================
  Section Product Categories
=============================

*/
.product-categories{
    margin-bottom: 10rem;
    text-align: center;
}
.product-categories__img{

}
.product-categories__title{
font-family: "Vazirmatn Bold";
font-size: 3.6rem;
line-height: 50.4px;
color:#242424;
}
.product-categories__subtitle{
font-family: "Vazirmatn Bold";
font-size: 1.8rem;
line-height: 28.8px;
color:#3D3D3D;
margin:1rem 0 4rem 0;
}
.product-categories__wrapper{
display: flex;
justify-content: space-between;
}
.product-categories__content{
    background-color: var(--E2DFD5-color);
    border-radius:80rem;
    -webkit-border-radius:80rem;
    -moz-border-radius:80rem;
    -ms-border-radius:80rem;
    -o-border-radius:80rem;
    display: flex;
    align-items: center;
    gap:1rem;
    padding:1rem 2rem;
    cursor: pointer;
}
.product-categories__content-img{

}
.product-categories__content-title{
font-family: "Vazirmatn Bold";
font-size: 3rem;
line-height: 4.2rem;
color:#242424;
}