@media screen and (max-width:1400px) {

    .product-categories__title::before,
    .product-categories__title::after {
        width: 29rem;
    }
}

@media screen and (max-width:1200px) {
    .statistics {
        width: auto;
        bottom: -8.2rem;
    }

    .header-bottom__icon {
        width: 90%;
    }

    .product-categories__title::before,
    .product-categories__title::after {
        width: 20rem;
    }

    .coffee-brands__icon-right {
        right: 18.8rem;
    }

    .coffee-brands__icon-left {
        left: 16.9rem;
    }
}

@media screen and (max-width:992px) {
    .header-right {
        gap: 1rem;
    }

    .header__logo {
        width: 100px;
    }

    .header__logo img {
        width: 100%;
    }

    .header-menu {
        font-size: 1.2rem;
    }

    .header__search {
        width: 3.2rem;
        height: 3.2rem;
    }

    .header__search svg {
        width: 15px;
    }

    .header__profile {
        padding: 1rem;
        font-size: 1.2rem;
    }

    .header__profile svg {
        width: 15px;
    }

    .header__shopping-cart {
        padding: 1rem;
    }

    .header__shopping-cart svg {
        width: 15px;
    }

    .statistics__item span {
        font-size: 6.5rem;
        line-height: 6.5rem;
    }

    .product-categories__title::before,
    .product-categories__title::after {
        width: 8rem;
    }

    .coffee-brands__icon-right {
        right: 13.8rem;
    }

    .coffee-brands__icon-left {
        left: 13.9rem;
    }

}

@media screen and (max-width:768px) {

    /* .header-menu {
        display: none;
    } */
    .nav-menu {
        display: flex;
    }

    .header-left {
        flex-direction: column-reverse;
    }

    .header__search,
    .header__profile {
        position: fixed;
        background-color: #fff;
        right: -100rem;
        margin: 0 auto;
        transition: all 250ms ease-in;
        -webkit-transition: all 250ms ease-in;
        -moz-transition: all 250ms ease-in;
        -ms-transition: all 250ms ease-in;
        -o-transition: all 250ms ease-in;
    }

    .header__search {
        top: 234px;
    }

    .header__profile {
        top: 284px;
        width: 12rem;
    }

    .header-menu {
        right: -100rem;
        flex-direction: column;
        background-color: #fff;
        border-radius: 5px;
        position: fixed;
        top: 9rem;
        width: 40rem;
        transition: all 250ms ease-in;
        -webkit-transition: all 250ms ease-in;
        -moz-transition: all 250ms ease-in;
        -ms-transition: all 250ms ease-in;
        -o-transition: all 250ms ease-in;
        margin: 0 auto;
        padding: 1rem 4rem 13rem 4rem;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    .header-menu--mobile {
        right: 0;
        left: 0;
        transition: all 250ms ease-in;
        -webkit-transition: all 250ms ease-in;
        -moz-transition: all 250ms ease-in;
        -ms-transition: all 250ms ease-in;
        -o-transition: all 250ms ease-in;
    }

    .submenu-products {}

    .header-menu__item:hover .submenu-products {
        background-color: var(--B0A27B-color);
        /* right:5rem; */
    }

    .header-menu__item:hover+.header__search {
        z-index: -1;
    }

    .statistics {
        bottom: -60px;
    }

    .header-bottom__title,
    .header-bottom__title span {
        font-size: 6.5rem;
        line-height: 6.5rem;
    }

    .statistics__item span {
        font-size: 3.5rem;
        line-height: 3.5rem;
    }

    .statistics__item p {
        font-size: 2rem;
        line-height: 2rem;
    }

    .product-categories__title::before,
    .product-categories__title::after {
        width: 0;
    }

    .latest-products-list {
        overflow-x: scroll;
        overflow-y: hidden;
        gap: 2rem;
        font-size: 1.5rem;
        padding-right: 7rem;
    }

    .coffee-brands-types {
        grid-template-columns: repeat(2, auto);
    }

    .coffee-brands__icon-right,
    .coffee-brands__icon-left {
        display: none;
    }
}

@media screen and (max-width:576px) {
    .product-categories__content {
        width: 100%;
    }

    .product-categories__content-icon {
        display: block;
    }
}

@media screen and (max-width:530px) {

    .header-bottom__title,
    .header-bottom__title span {
        font-size: 4.5rem;
        line-height: 4.5rem;
    }

    .statistics {
        padding: 2rem 6rem;
        bottom: -4rem;
    }

    /* .statistics__item span {
        font-size: 5.5rem;
        line-height: 5.5rem;
    } */

    .statistics__item span {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .statistics__item p {
        font-size: 1rem;
        line-height: 1rem;
    }

}

@media screen and (max-width:450px) {
    .statistics {
        bottom: -5rem;
    }

    .coffee-brands-types {
        padding:0;
    }
}

@media screen and (max-width:370px) {
    .statistics {
        bottom: -10rem;
    }

    .product-categories__title {
        font-size: 2.6rem;
        line-height: 4rem;
    }

    .product-categories__content-title {
        font-size: 2rem;
        line-height: 3.2rem;
    }
    .coffee-brands__title{
        font-size: 2.6rem;
        line-height: 4rem;

    }
    .coffee-brands__subtitle{
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
}